<uib-accordion>
    <uib-accordion-group is-open="status.open">
        <uib-accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': status.open,
                                       'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        This is just some content to illustrate fancy headings.
    </uib-accordion-group>

     <uib-accordion-group is-open="status.open">
        <uib-accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': status.open,
                                       'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        This is just some content to illustrate fancy headings.
    </uib-accordion-group>


</uib-accordion>
