<div class="search-result">
    <table class="table table-striped table-hover">
        <thead>
        <tr class="success">
            <td><strong>#</strong></td>
            <td>姓名</td>
            <td>职位</td>
            <td>手机号</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in datas">
            <td ng-bind="$index+1"></td>
            <td ng-bind="item.username"></td>
            <td ng-bind="item.department"></td>
            <td ng-bind="item.tel"></td>
        </tr>
        </tbody>
    </table>
</div>