<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-cloak ng-controller="myctrl">
<input ng-model="myinput">
{{myinput}}
<span ng-bind="myinput"></span>
<input type="button"  ng-click="hello()" ng-disabled="true">
<audio src="http://play.baidu.com/?__m=mboxCtrl.playSong&__a=247911654&__o=song/247911654||playBtn&fr=-1||www.baidu.com#">哈哈</audio>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script>
    angular.module('myApp',[])
            .controller('myctrl', function ($scope) {
                $scope.myinput='haha';
                $scope.hello= function () {
                    console.log('dwa');
                }
            })
</script>
</body>
</html>